html {
    margin: 0px;
    box-sizing: border-box;
    font-family: "PT Mono", serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

img.circle {
    height: 200px;
    width: 200px;
    border-radius: 110px;
    border: 8px solid #083F08;
    background-color: #083F08;
}

img.circle:hover {
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0%, 100% {
        -webkit-filter: opacity(1);
        filter: opacity(1);
    }
    50% {
        -webkit-filter: opacity(0.5);
        filter: opacity(0.5);
    }
}

div.footer-container {
    width: 100%;
    background-color: black;
    padding: 2rem 0rem 3rem 0rem;
    border-top: 15px solid #083F08;
}

footer {
    color: white;
}

.centered {
    width: 75%;
    margin: 0 auto;
}

.logo {
    padding-top: 2rem;
    padding-left: 2%;
    float: left;
}

.top-section {
    background: url("../img/Ethernet-960px.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 805px;
    color: white;
}

.top-section h1 {
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    /*text-transform: uppercase;*/
    font-family: "Oswald", "Helvetica Neue", sans-serif;
    margin-top: 14rem;
    margin-bottom: 0rem;
    letter-spacing: 5px;
}

.top-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    letter-spacing: 5px;
}

.nav-links li {
    display: inline-block;
    font-size: 1.75rem;
    font-family: "PT Mono", serif;
    padding-right: 5%;

}

section.portfolio.centered {
    margin-bottom: 5rem;
}

section.portfolio.centered h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", "Helvetica Neue", sans-serif;
}

.cases > li, .footer-sections > li {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    vertical-align: top;
}

ul.cases li h2, ul.footer-sections li h2 {
    color: #128D03;
}

ul.cases li p, ul.footer-sections li p {
    padding: 0 15%;
}

ul.footer-sections li p {
    text-align: justify;
    font-size: 0.7rem;
}

ul.nav-links {
    padding-left: 15%;
    padding-top: 3rem;
}

ul.footer-sections > li ul li {
    list-style: none;
    padding-bottom: 10px;
}

ul.footer-sections > li ul li a{
    color: white;
}

ul.footer-sections > li ul li a:hover{
    color: #083F08;
}



@media screen and (max-width: 768px) {
    .top-section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: 350px;
        color: white;
    }

    .top-section h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        font-family: "Oswald", "Helvetica Neue", sans-serif;
        margin-top: 6rem;
        margin-bottom: 0rem;
        letter-spacing: 1px;
    }

    .top-section h2 {
        text-align: center;
        font-size: 1.5rem;
        font-family: "PT Mono", serif;
        margin-top: 0;
        padding: 0 10%;
    }

    .logo {
        width: 35px;
        height: 35px;
        padding-top: 1rem;
    }

    ul.nav-links {
        padding-top: 1.5rem;
        margin-left: 20px;
    }

    .nav-links li {
        font-size: 1rem;
    }

    section.portfolio.centered h1 {
        font-size: 2rem;
    }

    ul.cases li h2, ul.footer-sections li h2 {
        font-size: 1rem;
    }

    ul.footer-sections li p {
        padding: 0 6%;
    }

    .cases > li, .footer-sections > li {
        display: block;
        text-align: center;
        width: 100%
    }

    ul.footer-sections > li ul li {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 425px) {
    .top-section h2 {
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
        letter-spacing: 5px;
        padding: 0;
    }

}


